In [1]:
import pandas as pd

In [2]:
#Reading file
df = pd.read_csv("sem_ponderar.csv")

In [3]:
#Removing column Target
df =df.drop(columns=['Unnamed: 0']) 
df.head()

,2ª,acab,acontec,adot,afet,afirm,aft,al,alago,alarm,...,vir,vitór,viv,volt,votuporang,wwwaquinoticiascom,zon,áre,óbit,target
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
#Transforming int to string
for column in df:
    df[column] = df[column].astype(str)
    #print(df[column])
    
df.dtypes

2ª                    object
acab                  object
acontec               object
adot                  object
afet                  object
                       ...
wwwaquinoticiascom    object
zon                   object
áre                   object
óbit                  object
target                object
Length: 305, dtype: object

In [5]:
list_target = df['target'].tolist()

In [6]:

df =df.drop(columns=['target'])

In [7]:
#Change value "1" in table to column names
names = df.columns.values

_i = 0
for col in df:
    for i, row_value in df[col].iteritems():        
        if row_value == '1' or row_value == '2':
            df.iloc[i,_i] = names[_i]
            
    _i += 1

In [8]:
df

,2ª,acab,acontec,adot,afet,afirm,aft,al,alago,alarm,...,vint,vir,vitór,viv,volt,votuporang,wwwaquinoticiascom,zon,áre,óbit
0,2ª,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2ª,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,zon,0,0
296,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
297,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
298,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df

,2ª,acab,acontec,adot,afet,afirm,aft,al,alago,alarm,...,vint,vir,vitór,viv,volt,votuporang,wwwaquinoticiascom,zon,áre,óbit
0,2ª,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2ª,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,zon,0,0
296,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
297,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
298,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
_i = 0
for col in df:
    for i, row_value in df[col].iteritems():        
        #print(_i, i)
        if row_value == '0':
            df.iloc[i,_i] = ""    
    _i += 1

In [11]:
df ['target']= list_target

In [14]:
from pandas import DataFrame
df.to_csv('com_target.csv',index=False,header = False)

In [16]:
df.describe()

,2ª,acab,acontec,adot,afet,afirm,aft,al,alago,alarm,...,vir,vitór,viv,volt,votuporang,wwwaquinoticiascom,zon,áre,óbit,target
count,300,300,300,300,300,300,300,300,300,300,...,300,300,300,300,300,300,300,300,300,300
unique,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,9
top,,,,,,,,,,,...,,,,,,,,,,0
freq,292,297,297,296,294,299,299,299,297,299,...,299,299,296,299,298,299,299,297,295,154